body {
    background: url("../images/gravel.png") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #777777;
    width: 960px;
   }

   a { color: #777777;
text-decoration: none;}
.nav{ height: 60px;

}
   #box1{font-family: Arial, Helvetica, sans-serif;
       float:right;
       padding:10px;
       border-left: 1px solid #bebebe;
    }

       #box2{font-family: Arial, Helvetica, sans-serif;
        float:right;
        padding:10px;
        border-left: 1px solid #bebebe;
    }

        #box3{font-family: Arial, Helvetica, sans-serif;
            float:right;
            padding:10px;
            border-left: 1px solid #bebebe;
            }

            #box1:hover{
                background-color:#4aaaa5;}
                #box2:hover{
                    background-color:#4aaaa5;}
                    #box3:hover{
                        background-color:#4aaaa5;}

   #name{
       float:left;
    margin-left:50px;
    padding:120px;
background-color:#4aaaa5;
color:#ffffff;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 28px;
font-weight:bold;
padding:10px;
text-align: left;

}

.main { 
    background-color:#ffffff;
    background-color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left:50px;
    letter-spacing: 1.5px;
    line-height: 130%;
    padding-left:80px;
    padding-right:80px;
    overflow: auto;
    border: 1px solid #dddddd;
    padding-bottom: 30px;
}


#profile {
    float: left;    
    margin-right: 10px;
    padding-right: 1em;
    margin-top: 10px;
    padding-top: 1em;
}

#aboutme {width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4aaaa5;
    font-weight: bold;
    padding-top: 10px;
    height:50px;
    border-bottom: 1px solid #dddddd;}



.footer {display:grid;
    grid-template-columns: 1fr;
    background-color:#666666;
    border-top: 3px solid #4aaaa5;
    color:#dddddd;
    height: 50px;
    margin-top: 40px;
margin-bottom: 20px;
text-align: center;
font-size: 8px;
margin-left:50px;
}


  #info {
      font-family: Georgia, 'Times New Roman', Times, serif;
    width:300px;
    height:60px;
      background-color: #4aaaa5;
      color: white;
      text-align: center;
      font-size: 16px;
      font-weight:bold;
    position: absolute;
    top: 250px;}


    #pic1 {float: left;
    margin-bottom:2em;}
#pic2{float: right;
margin-bottom:2em;}
 #pic3{float:left;}  
#pic4{float:right;}


#info2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width:300px;
    height:60px;
      background-color: #4aaaa5;
      color: white;
      text-align: center;
      font-size: 16px;
      font-weight:bold;
    position: absolute;
    top: 480px;}

   